@media screen and (min-width: 991px) {
  
    body {
        scroll-behavior: smooth;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }
    
    /*HEADER*/
    
    header {
        background-image: linear-gradient(to right, rgba(124, 40, 99, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fitness.jpg);
        background-size: cover;
        height: 400px;
        color: white;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header nav img {
        height: 60px;
        width: 60px;
    }
    header nav ul {
        display: flex;
    }
    header a, #banniere article a, form input[type=submit]  {
        margin: 10px;
        padding: 15px;
        color: white;
    }
    header a:hover, form input[type=submit]:hover, #banniere article a:hover {
        background-color: rgba(124, 40, 99, 0.5);
        cursor: pointer;
    }
    #imageLogo {
        height: 90px;
    }
    .bouton {
        background-color: rgb(124, 40, 99);
    }
    #burger, header label {
        display: none;
    }
    #FC {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #FC h1 {
        text-transform: uppercase;
        font-weight: 1500;
        font-size: 4em;
        font-style: italic;
        margin: 0;
    }
    #FC p {
        margin: 0;
        font-weight: 900;
    }
    
    /*PROGRAMME*/
    
    #program {
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        top: -90px;
    }
    #crossfit, #fullbody {
        padding: 30px;
        height: 250px;
        width: 40%;
        color: white;
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #crossfit {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/fitnessman.jpg);
        background-size: cover;
    }
    #fullbody {
        background-image: linear-gradient(rgba(124, 40, 99, 0.4), rgba(124, 40, 99, 0.4)), url(../img/fitnesswoman.jpg);
        background-size: cover;
    }
    
    /*OBJECTIF*/
    
    #objectif {
        text-align: center;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #objectif h2 {
        font-weight: 900;
    }
    
    
    /*LIGNE 1*/
    
    #ligne1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }
    #ligne1 img {
       object-fit: cover;
       width: 50px;
    }
    .carre {
        border: 1px solid rgba(211, 211, 211, 0.4);
        width: 25%;
        height: 250px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    
    /*BANNIERE*/
    #banniere {
        display: flex;
        height: 350px;
    }
    #banniere div {
        background-image: linear-gradient(to right, rgba(124, 40, 99, 0.4), rgba(0, 0, 0, 0.4)), url(../img/crossfit.jpg);
        background-size: cover;
        width: 60%;
    
    }
    #banniere article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: black;
        color: white;
        padding-left: 15px;
        width: 40%;
    }
    #banniere article h2 {
        position: relative;
        left: -85px;
    }
    #banniere article p {
        font-size: 0.8em;
        width: 300px;
        margin-bottom: 15px;
    }
    #banniere article a {
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    /*DOUBLE LIGNE*/
    
    #doubleLigne {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #doubleLigne img {
        object-fit: cover;
        width: 50px;
    }
    .tiers {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        height: 300px;
    }
    .tiers:nth-child(odd) {
        background-color: rgba(211, 211, 211, 0.4);
    }
    #doubleLigne p {
        width: 250px;
        font-size: 14px;
        margin-top: 0;
    }
    #doubleLigne h3 {
        width: 250px;
        font-size: 16px;
        margin-bottom: 0;
    }
    
    /*MAP*/
    
    #map {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    
    /*FOOTER*/
    footer {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        height: 300px;
        font-size: 12px;
        border-top: 15px solid rgb(124, 40, 99);
        margin-top: -10px;
    }
    #reseauxSociaux, #contact {
        width: 33.5%;
    }
    #formulaire {
        width: 33%;
    }
    #reseauxSociaux {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
        margin: 15px;
    }
    #reseauxSociaux img {
        object-fit: cover;
        width: 50px;
    }
    #reseauxSociaux p {
        width: 250px;
    }
    #logo > a {
        font-size: 18px;
        margin-left: 10px;
    }
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin: 15px;
    }
    #contact h3 {
        margin: 0;
    }
    .afooter {
        cursor: pointer;
        color: white;
    }
    .afooter:hover {
        color: rgb(124, 40, 99);
    }
    #contact i {
        color: rgb(124, 40, 99);
        font-size: 16px;
        margin: 0px 10px;
    }
    #adresse, #telephone, #mail {
        display: flex;
        align-items: baseline;
    }
    #formulaire {
        background-color: white;
        position: relative;
        top: -100px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 30px;
        height: 350px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
        margin: 20px;
    }
    form div {
        border-bottom: 1.5px solid black;
    }
    form input {
        border: none;
    }
    form {
        margin: 0px;
    }
    form input[type=submit] {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #formulaire h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
    }   
    #formulaire p {
        margin: 10px;
    } 
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    body {
        scroll-behavior: smooth;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }
    
    /*HEADER*/
    
    header {
        background-image: linear-gradient(to right, rgba(124, 40, 99, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fitness.jpg);
        background-size: cover;
        height: 400px;
        color: white;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header nav img {
        height: 60px;
        width: 60px;
    }
    header nav ul {
        display: flex;
    }
    header a, #banniere article a, form input[type=submit]  {
        margin: 10px;
        padding: 15px;
        color: white;
    }
    header a:hover, form input[type=submit]:hover, #banniere article a:hover {
        background-color: rgba(124, 40, 99, 0.5);
    }
    #imageLogo {
        height: 90px;
    }
    .bouton {
        background-color: rgb(124, 40, 99);
    }
    #burger, header label {
        display: none;
    }
    #FC {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #FC h1 {
        text-transform: uppercase;
        font-weight: 1500;
        font-size: 4em;
        font-style: italic;
        margin: 0;
    }
    #FC p {
        margin: 0;
        font-weight: 900;
    }
    
    /*PROGRAMME*/
    
    #program {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #crossfit, #fullbody {
        padding: 30px;
        height: 250px;
        width: 50%;
        color: white;
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #crossfit {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/fitnessman.jpg);
        background-size: cover;
    }
    #fullbody {
        background-image: linear-gradient(rgba(124, 40, 99, 0.4), rgba(124, 40, 99, 0.4)), url(../img/fitnesswoman.jpg);
        background-size: cover;
    }
    
    /*OBJECTIF*/
    
    #objectif {
        text-align: center;
        margin: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #objectif h2 {
        font-weight: 900;
    }
    
    
    /*LIGNE 1*/
    
    #ligne1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }
    #ligne1 img {
       object-fit: cover;
       width: 50px;
    }
    .carre {
        border: 1px solid rgba(211, 211, 211, 0.4);
        width: 25%;
        height: 250px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    
    /*BANNIERE*/
    #banniere {
        display: flex;
        height: 350px;
    }
    #banniere div {
        background-image: linear-gradient(to right, rgba(124, 40, 99, 0.4), rgba(0, 0, 0, 0.4)), url(../img/crossfit.jpg);
        background-size: cover;
        width: 60%;
    
    }
    #banniere article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: black;
        color: white;
        padding-left: 15px;
        width: 40%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #banniere article h2 {
        position: relative;
        left: -85px;
        margin-top: 30px;
    }
    #banniere article p {
        font-size: 0.8em;
        width: 300px;
        margin-bottom: 15px;
    }
    #banniere article a {
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    /*DOUBLE LIGNE*/
    
    #doubleLigne {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #doubleLigne img {
        object-fit: cover;
        width: 50px;
    }
    .tiers {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        height: 300px;
    }
    .tiers:nth-child(0n+2), .tiers:nth-child(0n+3), .tiers:nth-child(0n+6) {
        background-color: rgba(211, 211, 211, 0.4);
    }
    #doubleLigne p {
        width: 250px;
        font-size: 14px;
        margin-top: 0;
    }
    #doubleLigne h3 {
        width: 250px;
        font-size: 16px;
        margin-bottom: 0;
    }
    
    /*MAP*/
    
    #map {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    
    /*FOOTER*/
    footer {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        height: 300px;
        font-size: 0.7em;
        border-top: 15px solid rgb(124, 40, 99);
        margin-top: -10px;
    }
    #reseauxSociaux, #contact {
        width: 30%;
    }
    #formulaire {
        width: 40%;
    }
    #reseauxSociaux {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
        margin: 15px;
    }
    #reseauxSociaux img {
        object-fit: cover;
        width: 50px;
    }
    #reseauxSociaux p {
        width: 200px;
    }
    #logo > a {
        font-size: 18px;
        margin-left: 10px;
    }
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin: 15px;
    }
    #contact h3 {
        margin: 0;
    }
    #contact i {
        color: rgb(124, 40, 99);
        font-size: 16px;
        margin: 0px 10px;
    }
    .afooter {
        color: white;
    }
    .afooter:hover {
        color: rgb(124, 40, 99);
    }
    #adresse, #telephone, #mail {
        display: flex;
        align-items: baseline;
    }
    #formulaire {
        background-color: white;
        position: relative;
        top: -150px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 30px;
        height: 400px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
        margin: 20px;
    }
    form div {
        border-bottom: 1.5px solid black;
    }
    form input {
        border: none;
    }
    form {
        margin: 0px;
    }
    form input[type=submit] {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #formulaire h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
    }   
    #formulaire p {
        margin: 10px;
    } 
}
@media screen and (max-width: 767px) {
    body {
        scroll-behavior: smooth;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }
    
    /*HEADER*/
    
    header {
        background-image: linear-gradient(to right, rgba(124, 40, 99, 0.4), rgba(0, 0, 0, 0.4)), url(../img/fitness.jpg);
        background-size: cover;
        height: 400px;
        color: white;
    }
    header nav {
        background-color: rgba(124, 40, 99, 0.8);
        position: relative;
        z-index: 1;
    }
    #burger {
        display: none;
    }
    #burger + label {
        margin:0px;
        padding:0px;
        position: absolute;
        text-align: center;
        width: 50px;; 
        right: 20px;
        top: 0px;
        font-size: 40px;
        margin-top: 5px;
    }
    ul > li {
        display: none;
    }
    #burger:checked ~ ul > li {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(205, 205, 205, 0.5);

    }
    header .bouton {
        background: transparent;
    }
    header nav img {
        height: 60px;
        width: 60px;
        padding: 10px;
        margin-top: 5px;
    }
    header a, #banniere article a, form input[type=submit]  {
        margin: 10px;
        padding: 15px;
        color: white;
    }
    #banniere article a:hover, header nav ul li:hover, form input[type=submit]:hover {
        background-color: rgba(124, 40, 99, 0.5);
    }
    #imageLogo {
        height: 90px;
    }
    .bouton {
        background-color: rgb(124, 40, 99);
    }
    #FC {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #FC h1 {
        text-transform: uppercase;
        font-weight: 1500;
        font-size: 4em;
        font-style: italic;
        margin: 0;
    }
    #FC p {
        margin: 0;
        font-weight: 900;
    }
    
    /*PROGRAMME*/
    
    #program {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: -100px;
    }
    #crossfit, #fullbody {
        padding: 30px;
        height: 250px;
        width: 80%;
        color: white;
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #crossfit {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/fitnessman.jpg);
        background-size: cover;
    }
    #fullbody {
        background-image: linear-gradient(rgba(124, 40, 99, 0.4), rgba(124, 40, 99, 0.4)), url(../img/fitnesswoman.jpg);
        background-size: cover;
    }
    
    /*OBJECTIF*/
    
    #objectif {
        text-align: center;
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #objectif h2 {
        font-weight: 900;
    }
    
    
    /*LIGNE 1*/
    
    #ligne1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    #ligne1 img {
       object-fit: cover;
       width: 50px;
    }
    .carre {
        border: 1px solid rgba(211, 211, 211, 0.4);
        width: 50%;
        height: 250px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    
    /*BANNIERE*/
    #banniere article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 30px 15px;
        width: 100%;
        text-align: center;
        height: 500px;
        
    }
    #banniere article h2 {
        margin-top: 30px;
    }
    #banniere article p {
        font-size: 0.8em;
        width: 300px;
        margin-bottom: 15px;
    }
    #banniere article a {
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    /*DOUBLE LIGNE*/
    
    #doubleLigne {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #doubleLigne img {
        object-fit: cover;
        width: 50px;
    }
    .tiers {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        height: 300px;
    }
    .tiers:nth-child(odd) {
        background-color: rgba(211, 211, 211, 0.4);
    }
    #doubleLigne p {
        width: 250px;
        font-size: 14px;
        margin-top: 0;
    }
    #doubleLigne h3 {
        width: 250px;
        font-size: 16px;
        margin-bottom: 0;
    }
    
    /*MAP*/
    
    #map {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    
    /*FOOTER*/
    footer {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.7em;
        border-top: 15px solid rgb(124, 40, 99);
        margin-top: -10px;
    }
    #reseauxSociaux, #contact {
        width: 70%;
        height: 30%;
    }
    #reseauxSociaux {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin: 15px;
        order: 1;
    }
    #reseauxSociaux img {
        object-fit: cover;
        width: 50px;
    }
    #reseauxSociaux p {
        width: 250px;
    }
    #logo > a{
        font-size: 18px;
        margin-left: 10px;
    }
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin: 30px 0px;
        order: 2;
    }
    #contact h3 {
        margin: 0;
    }
    #contact i {
        color: rgb(124, 40, 99);
        font-size: 16px;
        margin: 0px 10px;
    }
    .afooter {
        color: white;
    }
    .afooter:hover {
        color: rgb(124, 40, 99);
    }
    #adresse, #telephone, #mail {
        display: flex;
        align-items: baseline;
    }
    #formulaire {
        background-color: white;
        position: relative;
        margin-top: -80px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 50%;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
        margin-bottom: 20px;
        width: 70%;
        order: 0;
        padding: 0;
    }
    form div {
        border-bottom: 1.5px solid black;
        padding: 15px;
    }
    form input {
        border: none;
    }
    form {
        margin: 0px;
    }
    form input[type=submit] {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #formulaire h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
    }   
    #formulaire p {
        margin: 10px;
        padding-bottom: 15px;
    }
}